.cajita{
    margin: 0 25px;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    position: relative;
}

@keyframes ejemplo{
    form{
        left: 0px;
        background-color: lightblue;
    }
    to{
        left: 250px;
        background-color: lightpink;
    }
}

.linear{
    animation: ejemplo 2s linear 0 infinite alternate;
}
.ease{
    animation: ejemplo 2s ease 0 infinite alternate;
}
.ease-in{
    animation: ejemplo 2s ease-in 0 infinite alternate;
}
.ease-out{
    animation: ejemplo 2s ease-out 0 infinite alternate;
}
.ease-in-out{
    animation: ejemplo 2s ease-in-out 0 infinite alternate;
}
