* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(224, 224, 215);
  }
  
  .big-box{
    width: 400px;
    height: 100px;
    margin: 2% auto;
    margin-top: 50px;
  }
  
  .principal-box {
    
    background: rgb(120, 255, 170);
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem;   
  
    display: block;

    position: relative;
  }
  
  .day{
    text-align: right;
    font-family: 'PT Sans';
    color: white;
    font-size: 1.5rem;
    
    font-style: none;
    font-weight: 100;
  
    padding: 0;
    margin-right: 20px;
  
    justify-content: flex-end;
  
    margin-top: 20px;
  
  }

  .day b{
    font-weight: 570;
  }
  
  .month{
    text-align: right;
    font-family: 'PT Sans';
    color: rgb(244, 241, 241);
    font-size: 1rem;
    
    font-weight: 50;
  
    margin-right: 20px;

  
  }
  
  .num-tasks {
    font-family: 'PT Sans';
    color: white;
    font-size: 1.2rem;
    
    font-weight: 400;
  
    float: left;
    margin-top: 70px;
    margin-left: 20px;

    position: fixed;
    top: 2%;
  
  }
  
  .num-tasks b {
    align-content: left;
    font-family: 'PT Sans';
    color: white;
    font-size: 2rem;
    
    font-weight: 400;
  
  }

  .add-task-button-container{
    width: 50px;
    height: 50px;
    float: right;
    position: fixed;

    display: block;
    margin-left: 320px;
    margin-top: 310px;
  }

  .add-task-button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(120, 255, 170);
    color: white;
  }

  .add-button{
    height: 50%;
    width: 50%;
  }

  .list-container{
    height: 369px;
    overflow-y: scroll;
    background-color: white;
  }

  .list-container::-webkit-scrollbar{
    width: 4px;
    height: 20px;
    background-color: lightgray;

  }

  .add-task-container{
    width: 80%;
    height: 100%;
    float: left;
  }

  .form-active{
    position: relative;
    width: 400px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
  }

  .hidden{
    display: none;
  }

  .add-task-input{
    width: 90%;
    height: 50px;
    font-family: 'PT Sans';
    font-size: 1rem;

    position: absolute;
    top: 0px;

    margin-left: 20px;
  }

  .save-task-button{
    width: 35px;
    height: 35px;

    color: white;

    position: absolute;
    top: 10px;
    right: 20px;

    background-color:  rgb(120, 255, 170);

    border-radius: 50%;
  }



  .task-container{
    background-color: white;
    border-top: 1px solid lightgray;
    overflow: auto;
    position: initial;
  }

  .check-list{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 0;

    width: 20px;
    height: 20px;

    background-color: white;

    float: left;

  }

  .check-icon{
    float: left;
    background-color: rgb(120, 255, 170);
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 30%;

  }

  .check-square{
    color: lightgray;
    float: left;
    width: 100%;
    height: 100%;
  }

  .task-text{
    margin: 20px;
    padding-left: 50px;
    font-family: 'PT Sans';
    color: rgb(81, 80, 80);
  }

  .line-through{
    color: lightgray;
    text-decoration: line-through;
    margin: 20px;
    background-color: white;
    padding-left: 50px;
    font-family: 'PT Sans';
  }

  .task-container:hover{
    border-left: 5px solid rgb(120, 255, 170);
  }

  .task-container:hover button{
    margin-left: 25px;
  }

  .task-container:hover p{
    margin-left: 15px;
  }
