* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(224, 224, 215);
  }
  
  .big-box{
    width: 400px;
    height: 100px;
    margin: 2% auto;
  }
  
  .principal-box {
    
    background: rgb(127, 255, 180);
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem;   
  
    display: block;
  }
  
  .day{
    text-align: right;
    font-family: 'PT Sans';
    color: white;
    font-size: 1.7rem;
      
    font-weight: 800;
  
    padding: 0;
    margin-right: 20px;
  
    justify-content: flex-end;
  
    margin-top: 30px;
    
  
  }
  
  .month{
    text-align: right;
    font-family: 'PT Sans';
    color: rgb(244, 241, 241);
    font-size: 1rem;
    
    font-weight: 50;
  
    margin-right: 20px;
  
  }
  
  .num-tasks {
    font-family: 'PT Sans';
    color: white;
    font-size: 1.2rem;
    
    font-weight: 400;
  
    float: left;
    margin-top: 40px;
    margin-left: 20px;
  
  }
  
  .num-tasks b {
    align-content: left;
    font-family: 'PT Sans';
    color: white;
    font-size: 2rem;
    
    font-weight: 400;
  
  }

  .task-incomplete{
    border-color: black;
    box-sizing: border-box;
    border-bottom: 10px;
    border: 10px;
    background-color: white;
  }
  
  .add-task-container{
    width: 100%;
    height: 70px;
    margin: 10px;
  }

  .add-task-button{
    width: 70px;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(127, 255, 180);
  }

  .add-button{
    color: white;
    width: 100%;
  }

  .task-input{
    width: 70%;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
  }

  .list-containter{
    display: block;
  }

  .task-container{
    background-color: white;
    border-top: 1px solid black;
    display: flexbox;
  }

  .check-list{
    margin-top: 20px;
    margin-left: 30px;
    padding: 0;

    width: 20px;
    height: 20px;

    background-color: white;

    float: left;

  }

  .check-icon{
    float: left;
    background-color:  rgb(127, 255, 180);
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 30%;

  }

  .check-square{
    color: lightgray;
    float: left;
    width: 100%;
    height: 100%;
  }

  .task-text{
    width: 100%;
    margin: 20px;
    padding-left: 50px;
    font-family: 'PT Sans';
  }

  .line-through{
    color: lightgray;
    text-decoration: line-through;
    margin: 20px;
    background-color: white;
    padding-left: 50px;
    font-family: 'PT Sans';
  }

