body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, violet, green);
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
}

header{
    text-align: center;
}

.active{
    background-color: rgb(255, 0, 255);

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;    
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}

li a:hover:not(.active){
    background-color: black;

}

h1{
    background-color: black;
    padding: 10px;
    margin: 0;
    color: violet;
}

footer{
    background-color: gray;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;    
    width: 100%;
}